<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="UTF-8">
    <title>Food For Health</title>
  <head>
    
  <body bgcolor="yellow">
    <h1 class= border> <center>FOOD FOR HEALTH</center></h1>
    <h2 class= example> Do you have food in the fridge, but don't know what to make? Do you need advice on what to make today?</h2>
    <h2 class= example2> Take this quiz to find out what food you can make with the things you already have, and how food affects your mental health!</h2>
    
    
    
    
    
    
    
    
  </body>



Collapse 