<%if @food == "Strawberry Spinich Salad"%>
<h3>Strawberry Spinich Salad<h3>
<a href="https://www.allrecipes.com/recipe/14276/strawberry-spinach-salad-i/?internalSource=recipe%20hub&referringId=1058&referringContentType=recipe%20hub&clickId=cardslot%2023">Link to Recipe</a>

<%elsif @food == "Watermelon Salad"%>
<h3>Watermelon Salad</h3>
<a href="https://www.allrecipes.com/recipe/111853/refreshing-watermelon-salad/?internalSource=hub%20recipe&referringContentType=search&clickId=cardslot%205">Link to Recipe</a>


<%elsif @food == "Shrimp Lemon Pepper Linguini"%>
<h3>Shrimp Lemon Pepper Linguini</h3>
 <a href="https://www.allrecipes.com/recipe/40154/shrimp-lemon-pepper-linguini/?internalSource=hub%20recipe&referringId=1058&referringContentType=recipe%20hub&clickId=cardslot%206">Link to Recipe</a>
 
<%elsif @food == "Guac and Chips"%>
<h3>Guac and Chips</h3>
<a href="https://www.allrecipes.com/recipe/14231/guacamole/?internalSource=hub%20recipe&referringContentType=search">Link to Recipe</a>
<%elsif @food == "Pork Chops With Rasberry Sauce"%>
   <h3>Pork Chops With Rasberry Sauce</h3>
<a href="https://www.allrecipes.com/recipe/53733/pork-chops-with-raspberry-sauce/?internalSource=recipe%20hub&referringId=1058&referringContentType=recipe%20hub&clickId=cardslot%20117">Link to Recipe</a>

<%else @food == "Here is a website to make foods with the things you already have!"%>
<h3>Here is a website to make foods with the things you already have!</h3>
<a href="https://www.allrecipes.com/recipes/1058/fruits-and-vegetables/fruits/?page=6">Link to More Food Recipes</a>

end
<%end%>