<html> 
<head>
   <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body class = "strawberry">
  <center><div class="container">
    <br>
    <br>
  <h1> Your result is Strawberry Spinach Salad!!! </h1>
  <h2><a href="https://www.allrecipes.com/recipe/14276/strawberry-spinach-salad-i/?internalSource=recipe%20hub&referringId=1058&referringContentType=recipe%20hub&clickId=cardslot%2023">Link to Recipe</a> </h2>
  <br>
  <br>
  </div></center>
</body>

</html>







